name: 'Close stale issues and pull requests with no recent activity'
on:
  schedule:
  - cron: "30 1 * * *"

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v10
      with:
        stale-issue-message: 'This issue has been marked as stale due to 30 days of inactivity.'
        stale-pr-message: 'This pull request has been marked as stale due to 30 days of inactivity.'

        days-before-stale: 30
        days-before-close: -1
        remove-stale-when-updated: true
        remove-issue-stale-when-updated: true
        remove-pr-stale-when-updated: true
